@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #2b2457 !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #2b2457,
    0 0 5px #2b2457;
}

#nprogress .spinner-icon {
  border-top-color: #2b2457;
  border-left-color: #2b2457;
}
